:root {
  --dark: #3b3b3b;
  --white: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.dark {
  background-color: var(--dark);
}

.title-h1 {
  font-size: 64px;
}

.text {
  font-size: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  gap: 50px;
  font-size: 24px;
  font-weight: 400;
}
.contacts {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

.nav__link {
  color: var(--white);
}

.nav__link:hover {
  color: #e6e6e6;
}

.container {
  max-width: 1240px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  border-radius: 8px;
  padding: 16px 40px;
  background-color: var(--dark);
  color: var(--white);
  font-weight: 500;
  font-size: 24px;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main__second {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main__title {
  margin-bottom: 24px;
}
.third {
  padding-top: 0;
}
.main__desk {
  max-width: 650px;
  margin-bottom: 60px;
}

.main__desk__second {
  max-width: 750px;
}

.main__desk__third {
  max-width: 100%;
}

.light {
  color: #777777;
  margin-bottom: 20px;
}
.white {
  color: var(--white);
}
